body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main p {
    font-size: 2rem;
    text-align: center;
}

section {
    display: flex;
    gap: 1rem;
}

button {
    background-color: #138c8c;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}
